<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="jp.ne.sakura.kkkon.android.reinstallapk"
  android:installLocation="preferExternal"
  android:versionCode="4"
  android:versionName="1.0.2"
>
  <application
    android:label="@string/app_name"
    android:icon="@drawable/ic_launcher"
  >
    <activity android:name="MainActivity"
              android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <provider
        android:authorities="jp.ne.sakura.kkkon.android.reinstallapk.provider"
        android:name="jp.ne.sakura.kkkon.android.reinstallapk.FileProvider"
        android:exported="true"
        android:grantUriPermissions="true"
    >
      <!--
      <meta-data
          android:name="jp.ne.sakura.kkkon.android.reinstallapk.FILE_PROVIDER_PATHS"
          android:resource="@xml/provider_paths"
      />
      -->
    </provider>

  </application>
  <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="26" />

  <!-- api26 -->
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

</manifest> 
